#article-card-wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
}

.article-card_text-wrap {
  padding: 1rem;
}
.article-card_text-wrap p {
  font-size: 0.8rem;
  display: flex;
  gap: 0.3rem;
  align-items: center;
  margin: 0;
}

.article-card {
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  background: rgba(0, 0, 0, 0.432);
  height: 12rem;
}
.article-card:hover {
  background: rgba(0, 0, 0, 0.4);
}

.article-card_background-el {
  height: 100%;
  width: 100%;
  background: black;
  position: absolute;
  top: 0;
  z-index: -10;
  filter: blur(50px) contrast(1);
  transition: filter 0.1s;
  transform: scaleX(-1);
  background-position-x: right;
}

.article-card:hover {
  cursor: pointer;
}

.article-card:hover h3 {
  text-decoration: underline;
}

.article-card:hover .article-card_background-el {
  filter: blur(35px);
}

.article-card_img-wrap {
  gap: 1rem;
  margin: 0;
  display: flex;
  max-width: fit-content;
}

.article-card_header-wrap {
  gap: 1rem;
}

.article-card_header-wrap h3 {
  max-height: 2lh;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-card_votes-wrap {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.article-card_votes-wrap img {
  padding: 0.4rem 0;
  margin: 0 -0.3rem;
}

.article-card_topic {
  font-size: 0.75rem;
  display: block;
  max-width: fit-content;
  margin: 0;
}

.article-card_img {
  /* height: 100%; */
  width: 20rem;
  object-fit: cover;
}
