#topics-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.topic {
  padding: 1rem;
  background: var(--main);
  border-radius: 1rem;
  width: fit-content;
  transition: background-color 0.1s;
}

@media (max-width: 600px) {
  .topic p {
    display: none;
  }
}

.topic:hover {
  background: rgb(82, 82, 82);
}
.topic:hover h3 {
  text-decoration: underline;
}
.topic * {
  margin: 0;
}

.topic h3 {
  text-transform: capitalize;
}
