@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

html {
  overflow-y: scroll;
}
:root {
  --main: rgb(32, 32, 32);
  --accent: rgb(58, 58, 58);
  --text1: rgb(255, 255, 255);
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background: var(--accent);
  color: white;
}

header {
  padding: 1rem;
  background: var(--main);
  color: var(--text1);
  position: sticky;
  top: 0;
  z-index: 10;
}
h1 {
  margin: 0;
  font-weight: 900;
  font-size: 2rem;
}

#page-wrap {
  display: flex;
  gap: 1rem;
  justify-content: center;
  position: relative;
  padding-inline: 1rem;
}
#menu-wrap {
  background: var(--main);
  margin-top: 6rem;
  padding: 0.5rem;
  border-radius: 1rem;
  height: fit-content;
  position: sticky;
  top: 5.75rem;
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.menu-link {
  padding: 1rem;
  text-align: center;
  min-width: 5rem;
  border-radius: 0.6rem;
  transition: 0.1s background-color;
}

#menu-wrap footer {
  grid-column: 1/-1;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  color: grey;
}

#menu-wrap footer a {
  display: block;
}

#menu-wrap footer p {
  grid-column: 1/-1;
  text-align: center;
}

.menu-link:hover {
  background: rgb(82, 82, 82);
  text-decoration: underline;
}

#create-post-link {
  grid-column: 1/-1;
  background: rgb(122, 176, 194);
  color: black;
}

#create-post-link:hover #create-post-link:before {
  text-decoration: none;
}

#create-post-link:hover {
  background: rgb(144, 222, 248);
}

main {
  width: 60rem;
  overflow-x: hidden;
  padding-bottom: 2rem;
}

h2 {
  max-width: 100%;
  margin-block: 2rem;
  height: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
}

h2 a:hover {
  text-decoration: underline;
}

h2 span {
  text-transform: capitalize;
}

a:link {
  color: inherit;
  text-decoration: inherit;
}

a:visited {
  color: inherit;
}
.tag {
  padding: 0.5em;
  border-radius: 0.5em;
  background: white;
  color: black;
  font-weight: bold;
  text-transform: capitalize;
}

.user-avatar {
  height: 2em;
  width: 2em;
  aspect-ratio: 1/1;
  object-fit: cover;
  background: white;
  border-radius: 50%;
  border: 0.1em solid black;
}

.icon {
  width: 0.8em;
  filter: invert(1);
}

.interact-button {
  padding: 0.3em;
  height: 2.8em;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.dislike {
  transform: rotate(180deg);
}

.user-selected {
  color: #219bff;
  border-color: #219bff;
}

.user-selected .icon {
  filter: invert(54%) sepia(53%) saturate(6262%) hue-rotate(195deg)
    brightness(113%) contrast(101%);
}
button {
  padding: 0.75rem 1rem;
  background: none;
  border: 0.1em solid white;
  border-radius: 1em;
  color: white;
  user-select: none;
}

button:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 1px white);
}

.error-msg {
  color: red;
  font-size: 0.8em;
  position: absolute;
  bottom: -2.75em;
}

:has(.error-msg) {
  position: relative;
}

.error-msg::before {
  content: "*";
  display: inline;
}

.path-seperator {
  margin-inline: 0.5rem;
}
